<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.1.1" targetFramework="net452" />
  <package id="Esfa.Ofsted.Inspection.Types" version="0.0.33" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NUnit" version="3.8.1" targetFramework="net452" />
  <package id="SFA.DAS.Apprenticeships.Api.Types" version="0.10.94" targetFramework="net452" />
  <package id="SFA.Roatp.Api.Types" version="0.1.68" targetFramework="net452" />
</packages>